:root {
  --black: #000;
  --white: #fff;
  --black-800: #4f4f50;
  --black-900: #262526;
  --black-lightest: #363636;
  --black-lighter: #242424;
  --primary: #1151f3;
  --primary-light: #1151f3;
  --primary-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)),
      #1151f3;
  --gray-500: #afafb2;
  --gray-300: #e0e1e4;
  --gray-200: #e9eaed;
  --gray-100: #f4f5f9;
  --main-offsize: 1rem;
  --add-offsize: 1rem;
  --main-color: var(--black-800);
  --bg-color: var(--gray-100);
  --light-font-color: var(--black-900);
  --theme-bg-color: var(--white);
  --border-color: var(--gray-200);
}

:root.dark-theme {
  --main-color: var(--gray-300);
  --bg-color: var(--black-lightest);
  --light-font-color: var(--gray-200);
  --theme-bg-color: var(--black-lighter);
  --border-color: var(--black-800);
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--main-color);
  line-height: 1;
  font-family: "Roboto";
  font-size: var(--main-offsize);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 0rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

.switch input {
  position: relative;
  width: 3.5rem;
  height: 1.75rem;
  background-color: rgba(17, 81, 243, 0.16);
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.switch input:checked {
  background-color: var(--gray-200);
}

.switch input:checked:after,
.switch input:checked::before {
  left: calc(100% - 0.25rem);
  -webkit-transform: translate3D(-100%, -50%, 0);
      -ms-transform: translate3D(-100%, -50%, 0);
          transform: translate3D(-100%, -50%, 0);
}

.switch input:checked::before {
  background: url("../img/icons/dark-mode.svg") center/16px 16px no-repeat;
}

.switch input:checked:after {
  background-color: var(--black-900);
}

.switch input:after,
.switch input::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: translate3D(0px, -50%, 0);
      -ms-transform: translate3D(0px, -50%, 0);
          transform: translate3D(0px, -50%, 0);
  -webkit-transition: left 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s, -webkit-transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s;
  transition: left 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s, -webkit-transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s;
  -o-transition: left 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s, transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s;
  transition: left 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s, transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s;
  transition: left 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s, transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s, -webkit-transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2) 0s;
}

.switch input::before {
  z-index: 2;
  background: url("../img/icons/light-mode.svg") center/16px 16px no-repeat;
}

.switch input:after {
  border-radius: 50%;
  background: var(--primary);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  color: var(--white);
  border-radius: 4px;
  background-color: var(--primary);
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  -o-transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.button:active {
  border-color: #c6d4f8;
}

.button svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  margin-right: 10px;
}

.dark-theme .button {
  color: var(--light-font-color);
}

.title {
  color: var(--light-font-color);
  letter-spacing: -0.04em;
  line-height: 130%;
  font-weight: 700;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.label {
  color: var(--light-font-color);
  font-size: 20px;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 700;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.caption {
  color: var(--light-font-color);
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px var(--main-offset);
  color: var(--light-font-color);
  background-color: var(--theme-bg-color);
  -webkit-transition: background-color 0.4s ease, color 0.4s ease;
  -o-transition: background-color 0.4s ease, color 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.header__link {
  font-size: 14px;
  line-height: 1.4285714286;
  font-weight: 500;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.header__user {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__image {
  border-radius: 50%;
  overflow: hidden;
}

.header__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-menu {
  display: none;
}

.wrapper {
  background-color: var(--bg-color);
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.page__dashboard {
  padding: var(--main-offset);
}

.dashboard__head-row {
  margin-bottom: var(--main-offset);
}

.dashboard__top-row {
  margin-bottom: var(--main-offset);
}

.dashboard__middle-row {
  margin-bottom: var(--main-offset);
}

.sidebar {
  padding: var(--main-offset) 0;
  background: var(--primary-gradient);
  color: var(--white);
}

.sidebar__logo {
  width: 52px;
  height: 52px;
  margin: 0 auto var(--main-offset);
}

.sidebar__logo img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar__menu {
  margin-bottom: var(--main-offset);
}

.sidebar__copyright {
  font-size: 14px;
  line-height: 1.4285714286;
  text-align: center;
}

.menu__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px auto;
  grid-template-columns: 24px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
}

.menu__link.active,
.menu__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.chart-dashboard {
  position: relative;
  padding: var(--main-offset);
  background-color: var(--theme-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  -webkit-transition: border-color 0.4s ease, background-color 0.4s ease;
  -o-transition: border-color 0.4s ease, background-color 0.4s ease;
  transition: border-color 0.4s ease, background-color 0.4s ease;
}

.chart-dashboard__title {
  margin-bottom: var(--main-offset);
}

.chart-dashboard__content {
  margin-bottom: 40px;
}

.chart-dashboard__caption {
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 700;
  color: var(--light-font-color);
  letter-spacing: -0.02em;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.chart-dashboard__items {
  position: relative;
  min-height: 320px;
}

.chart-dashboard__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
  -o-transition: visibility 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.chart-dashboard__item.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.chart-dashboard__buttons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--main-offset);
}

.chart-dashboard__button {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px auto;
  grid-template-columns: 20px auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--light-font-color);
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.chart-dashboard__button.active::after {
  content: "";
  opacity: 1;
  visibility: visible;
}

.chart-dashboard__button::before {
  content: "";
  aspect-ratio: 1/1;
  border: 1px solid #E0E1E4;
  border-radius: 4px;
}

.chart-dashboard__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--primary);
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
  -o-transition: opacity 0.4s ease, visibility 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.chart-dashboard .ct-series-a .ct-line {
  stroke: #0e44cc !important;
  stroke-width: 2px;
  fill: transparent !important;
}

.chart-dashboard .ct-series-a .ct-slice-pie,
.chart-dashboard .ct-series-a .ct-area {
  fill: url("#a") !important;
}

.chart-dashboard .ct-circle {
  fill: var(--white);
  stroke-width: 3;
  stroke: #376df5;
  -webkit-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.dark-theme .chart-dashboard .ct-circle {
  fill: var(--gray-300);
}

.chart-dashboard .ct-grid {
  stroke: var(--bg-color) !important;
  stroke-width: 1px !important;
  stroke-dasharray: 0 !important;
  -webkit-transition: stroke 0.4s ease;
  -o-transition: stroke 0.4s ease;
  transition: stroke 0.4s ease;
}

.chart-dashboard .ct-grid.ct-horizontal:first-of-type {
  stroke: var(--bg-color) !important;
  -webkit-transition: stroke 0.4s ease;
  -o-transition: stroke 0.4s ease;
  transition: stroke 0.4s ease;
}

.chart-dashboard .ct-grid.ct-horizontal:not(:first-of-type) {
  stroke: transparent !important;
}

.chart-dashboard text.ct-label {
  fill: var(--light-font-color);
  -webkit-transition: fill 0.4s ease;
  -o-transition: fill 0.4s ease;
  transition: fill 0.4s ease;
}

.chart-dashboard .ct-label {
  position: relative;
  color: var(--light-font-color) !important;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.chart-dashboard .ct-label::before {
  content: "";
  position: absolute;
  background-color: var(--bg-color);
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.chart-dashboard .ct-label.ct-horizontal::before {
  width: 1px;
  height: 12px;
  -webkit-transform: translate3D(0px, -100%, 0);
      -ms-transform: translate3D(0px, -100%, 0);
          transform: translate3D(0px, -100%, 0);
}

.chart-dashboard .ct-label.ct-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chart-dashboard .ct-label.ct-vertical::before {
  right: -12px;
  bottom: 4.5px;
  width: 8px;
  height: 1px;
}

.chart-dashboard .ct-text {
  font: italic 13px sans-serif;
  display: block;
  white-space: nowrap;
  width: 20px;
  height: 20px;
}

.donut-chart {
  padding: var(--main-offset);
  background-color: var(--theme-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  -webkit-transition: border-color 0.4s ease, background-color 0.4s ease;
  -o-transition: border-color 0.4s ease, background-color 0.4s ease;
  transition: border-color 0.4s ease, background-color 0.4s ease;
}

.donut-chart__content {
  position: relative;
}

.donut-chart__chart {
  width: 240px;
  height: 240px;
}

.donut-chart__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.25;
}

.donut-chart__tooltip {
  position: absolute;
  padding: 10px 8px;
  background-color: var(--theme-bg-color);
  border: 1px solid var(--primary);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility 0.4s ease, opacity 0.4s ease;
  -o-transition: visibility 0.4s ease, opacity 0.4s ease;
  transition: visibility 0.4s ease, opacity 0.4s ease;
}

.donut-chart__tooltip.active {
  position: fixed;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.donut-chart__quantity {
  font-weight: 500;
  color: var(--light-font-color);
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.donut-chart__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 16px auto;
  grid-template-columns: 16px auto;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.donut-chart__item::before {
  content: "";
  width: 16px;
  height: 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0.16))), #1151F3;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #1151F3;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #1151F3;
  border-radius: 3px;
}

.donut-chart__item--light::before {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.16)), to(rgba(255, 255, 255, 0.16))), #1151F3;
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #1151F3;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #1151F3;
}

.donut-chart__item:not(:last-child) {
  margin-bottom: 12px;
}

.donut-chart .ct-series.ct-series-a {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 6;
  fill: var(--primary);
  stroke: var(--theme-bg-color);
}

.donut-chart .ct-series.ct-series-b {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 6;
  fill: #376df5;
  stroke: var(--theme-bg-color);
}

.data-block {
  padding: var(--main-offset);
  background-color: var(--theme-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  -webkit-transition: border-color 0.4s ease, background-color 0.4s ease;
  -o-transition: border-color 0.4s ease, background-color 0.4s ease;
  transition: border-color 0.4s ease, background-color 0.4s ease;
}

.data-block__title {
  margin-bottom: 16px;
}

.data-block__body:not(:last-child) {
  margin-bottom: var(--main-offset);
}

.data-block__row {
  display: -ms-grid;
  display: grid;
  line-height: 1.25;
}

.data-block__row:not(:last-child) {
  border-bottom: 1px solid var(--gray-100);
}

.data-block__row--top {
  color: var(--light-font-color);
  letter-spacing: -0.02em;
  font-weight: 700;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.data-block__info {
  font-size: 14px;
  line-height: 1.4285714286;
  color: var(--gray-500);
}

.dashboard-info {
  padding: 16px var(--main-offsize);
  background-color: var(--theme-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  -webkit-transition: border-color 0.4s ease, background-color 0.4s ease;
  -o-transition: border-color 0.4s ease, background-color 0.4s ease;
  transition: border-color 0.4s ease, background-color 0.4s ease;
}

.dashboard-info__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-info__top-row .dashboard-info__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
}

.dashboard-info__top-row .dashboard-info__item--actions {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-info__row .dashboard-info__item--compliant span {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 8px 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
}

.dashboard-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.dashboard-info__item--actions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard-info__item--error span {
  background-color: rgba(243, 17, 85, 0.1);
  color: #f31155;
}

.dashboard-info__item--succes span {
  color: #009b51;
  background-color: rgba(0, 155, 81, 0.2);
}

.dashboard-info__item--warning span {
  color: #ffae11;
  background-color: rgba(255, 174, 17, 0.2);
}

.dashboard-info__actions-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.dashboard-info__warning-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 12px;
}

@media (min-width: 29.99875em) {
  :root {
    --main-offset: 24px;
    --title-offsize: 2.5rem;
  }

  .title {
    font-size: 28px;
  }

  .header__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    margin-right: 32px;
  }

  .header__user {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 86px;
            flex: 0 0 86px;
    -ms-grid-columns: 40px 24px;
    grid-template-columns: 40px 24px;
  }

  .donut-chart__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .donut-chart__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px;
    margin-right: 40px;
  }
}

@media (min-width: 40.62375em) {
  .switch {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: auto 56px;
    grid-template-columns: auto 56px;
    gap: 12px;
  }

  .switch span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4285714286;
  }

  .header__switcher {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    margin-right: 32px;
  }

  .dashboard__head-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .chart-dashboard__caption {
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translate(-50%, -100%) rotate(-90deg);
        -ms-transform: translate(-50%, -100%) rotate(-90deg);
            transform: translate(-50%, -100%) rotate(-90deg);
  }

  .chart-dashboard__buttons {
    grid-auto-flow: column;
  }
}

@media (min-width: 47.99875em) {
  .page__dashboard {
    margin-bottom: 64px;
  }

  .chart-dashboard .ct-label {
    font-size: 16px !important;
  }

  .chart-dashboard .ct-label.ct-horizontal::before {
    top: -5px;
    left: 10px;
  }

  .data-block__row {
    -ms-grid-columns: 128px auto;
    grid-template-columns: 128px auto;
  }

  .dashboard-info__item--actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 63.99875em) {
  .dashboard__top-row {
    -ms-grid-columns: 51.8844221106% auto;
    grid-template-columns: 51.8844221106% auto;
  }

  .dashboard__top-row {
    display: -ms-grid;
    display: grid;
    gap: var(--main-offset);
  }

  .dashboard__middle-row {
    display: -ms-grid;
    display: grid;
    gap: var(--main-offset);
  }

  .donut-chart__title {
    margin-bottom: 63px;
  }

  .data-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .data-block__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .data-block__row {
    gap: 32px;
    padding: 12px 16px;
  }

  .dashboard-info__top-row {
    padding: 12px 16px;
  }

  .dashboard-info__row {
    padding: 20px 16px;
  }
}

@media (min-width: 74.99875em) {
  [class*=__container] {
    padding: 0 2.5rem;
  }
}

@media (min-width: 93.75em) {
  .dashboard__middle-row {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 93.75em) and (min-width: 112.5em) {
  .dashboard-info__item--policy {
    -ms-flex-preferred-size: 23.75rem;
        flex-basis: 23.75rem;
  }

  .dashboard-info__item--system {
    -ms-flex-preferred-size: 10.5rem;
        flex-basis: 10.5rem;
  }

  .dashboard-info__item--category {
    -ms-flex-preferred-size: 21.875rem;
        flex-basis: 21.875rem;
  }

  .dashboard-info__item--compliant {
    -ms-flex-preferred-size: 10.5rem;
        flex-basis: 10.5rem;
  }
}

@media (min-width: 112.5em) {
  .dashboard-info__item:not(:last-child) {
    margin-right: 2rem;
  }
}

@media (min-width: 85em) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 280px auto;
    grid-template-columns: 280px auto;
  }
}

@media (min-width: 100em) {
  .data-block__body--large .data-block__row {
    -ms-grid-columns: 168px auto;
    grid-template-columns: 168px auto;
  }
}

@media (max-width: 85em) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.125rem;
    height: 0.875rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 10;
  }

  .menu-open .sidebar {
    left: 0;
  }
}

@media (max-width: 85em) and (max-width: 40.62375em) {
  .icon-menu {
    z-index: 11;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: var(--white);
  }
}

@media (max-width: 81.25em) {
  .dashboard-info__item:not(:last-child) {
    margin-right: 1.25rem;
  }
}

@media (max-width: 63.99875em) {
  .chart-dashboard:not(:last-child) {
    margin-bottom: var(--main-offset);
  }

  .donut-chart:not(:last-child) {
    margin-bottom: var(--main-offset);
  }

  .donut-chart__title {
    margin-bottom: 35px;
  }

  .data-block:not(:last-child) {
    margin-bottom: var(--main-offset);
  }

  .data-block__row {
    gap: 16px;
    padding: 12px 6px;
  }

  .dashboard-info__top-row {
    padding: 12px 0px;
  }

  .dashboard-info__row {
    padding: 16px 0px;
    font-size: 14px;
  }

  .dashboard-info__item--policy {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }

  .dashboard-info__item--system {
    -ms-flex-preferred-size: 85px;
        flex-basis: 85px;
  }

  .dashboard-info__item--category {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }

  .dashboard-info__item--compliant {
    -ms-flex-preferred-size: 110px;
        flex-basis: 110px;
  }
}

@media (max-width: 53.125em) {
  .dashboard-info__body {
    overflow-x: auto;
  }
}

@media (max-width: 47.99875em) {
  .page__dashboard {
    margin-bottom: 32px;
  }

  .chart-dashboard .ct-label {
    font-size: 12px !important;
  }

  .chart-dashboard .ct-label.ct-horizontal::before {
    top: -11px;
    left: 9.5px;
  }

  .data-block__row {
    -ms-grid-columns: 93px auto;
    grid-template-columns: 93px auto;
  }

  .dashboard-info__item--actions {
    -ms-flex-preferred-size: 125px;
        flex-basis: 125px;
  }
}

@media (max-width: 40.62375em) {
  .switch span {
    display: none;
  }

  .header__switcher {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-right: 16px;
  }

  .dashboard__title {
    margin-bottom: 12px;
  }

  .chart-dashboard__caption {
    margin-bottom: var(--main-offset);
  }

  .chart-dashboard__buttons {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 29.99875em) {
  :root {
    --main-offset: 16px;
    --title-offsize: 1.875rem;
  }

  [class*=__container] {
    padding: 0 1.5625rem;
  }

  .title {
    font-size: 26px;
  }

  .header__list {
    display: none;
  }

  .header__user {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    -ms-grid-columns: 32px 24px;
    grid-template-columns: 32px 24px;
  }

  .chart-dashboard__items {
    margin: 0 -16px;
  }

  .donut-chart__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }
}

@media (min-width: 29.99875em) and (max-width: 74.99875em) {
  [class*=__container] {
    padding: 0 1.875rem;
  }
}

@media (max-width: 85em) and (min-width: 40.62375em) {
  .menu-open .icon-menu {
    -webkit-transform: translate3D(218px, 0px, 0);
        -ms-transform: translate3D(218px, 0px, 0);
            transform: translate3D(218px, 0px, 0);
  }
}

@media (min-width: 63.99875em) and (max-width: 93.75em) {
  .dashboard__middle-row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-info__item--policy {
    -ms-flex-preferred-size: 260px;
        flex-basis: 260px;
  }

  .dashboard-info__item--system {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
  }

  .dashboard-info__item--category {
    -ms-flex-preferred-size: 210px;
        flex-basis: 210px;
  }

  .dashboard-info__item--compliant {
    -ms-flex-preferred-size: 130px;
        flex-basis: 130px;
  }
}

@media (min-width: 81.25em) and (max-width: 112.5em) {
@supports (margin-right: clamp( 1.25rem , -0.7rem  +  2.4vw , 2rem )) {
    .dashboard-info__item:not(:last-child) {
      margin-right: clamp( 1.25rem , -0.7rem  +  2.4vw , 2rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -0.7rem  +  2.4vw , 2rem )) {
    .dashboard-info__item:not(:last-child) {
      margin-right: calc(1.25rem + 0.75 * (100vw - 81.25rem) / 31.25);
    }
}
}

@media (min-width: 93.75em) and (min-width: 81.25em) and (max-width: 112.5em) {
@supports (flex-basis: clamp( 9.375rem , -28rem  +  46vw , 23.75rem )) {
    .dashboard-info__item--policy {
      -ms-flex-preferred-size: clamp( 9.375rem , -28rem  +  46vw , 23.75rem );
          flex-basis: clamp( 9.375rem , -28rem  +  46vw , 23.75rem );
    }
}

@supports not (flex-basis: clamp( 9.375rem , -28rem  +  46vw , 23.75rem )) {
    .dashboard-info__item--policy {
      -ms-flex-preferred-size: calc(9.375rem + 14.375 * (100vw - 81.25rem) / 31.25);
          flex-basis: calc(9.375rem + 14.375 * (100vw - 81.25rem) / 31.25);
    }
}

@supports (flex-basis: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem )) {
    .dashboard-info__item--system {
      -ms-flex-preferred-size: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem );
          flex-basis: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem );
    }
}

@supports not (flex-basis: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem )) {
    .dashboard-info__item--system {
      -ms-flex-preferred-size: calc(6.25rem + 4.25 * (100vw - 81.25rem) / 31.25);
          flex-basis: calc(6.25rem + 4.25 * (100vw - 81.25rem) / 31.25);
    }
}

@supports (flex-basis: clamp( 7.5rem , -29.875rem  +  46vw , 21.875rem )) {
    .dashboard-info__item--category {
      -ms-flex-preferred-size: clamp( 7.5rem , -29.875rem  +  46vw , 21.875rem );
          flex-basis: clamp( 7.5rem , -29.875rem  +  46vw , 21.875rem );
    }
}

@supports not (flex-basis: clamp( 7.5rem , -29.875rem  +  46vw , 21.875rem )) {
    .dashboard-info__item--category {
      -ms-flex-preferred-size: calc(7.5rem + 14.375 * (100vw - 81.25rem) / 31.25);
          flex-basis: calc(7.5rem + 14.375 * (100vw - 81.25rem) / 31.25);
    }
}

@supports (flex-basis: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem )) {
    .dashboard-info__item--compliant {
      -ms-flex-preferred-size: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem );
          flex-basis: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem );
    }
}

@supports not (flex-basis: clamp( 6.25rem , -4.8rem  +  13.6vw , 10.5rem )) {
    .dashboard-info__item--compliant {
      -ms-flex-preferred-size: calc(6.25rem + 4.25 * (100vw - 81.25rem) / 31.25);
          flex-basis: calc(6.25rem + 4.25 * (100vw - 81.25rem) / 31.25);
    }
}
}

@media (min-width: 93.75em) and (max-width: 81.25em) {
  .dashboard-info__item--policy {
    -ms-flex-preferred-size: 9.375rem;
        flex-basis: 9.375rem;
  }

  .dashboard-info__item--system {
    -ms-flex-preferred-size: 6.25rem;
        flex-basis: 6.25rem;
  }

  .dashboard-info__item--category {
    -ms-flex-preferred-size: 7.5rem;
        flex-basis: 7.5rem;
  }

  .dashboard-info__item--compliant {
    -ms-flex-preferred-size: 6.25rem;
        flex-basis: 6.25rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #376df5;
  }

  .header__link:hover {
    color: var(--primary);
  }

  .dashboard-info__actions-btn:hover {
    color: var(--primary);
  }
}